@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$font: "Montserrat", sans-serif;
$orange: #e67816;
$brown: #1e1915;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.75;
  font-weight: 400;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: $orange;
}

::selection {
  color: white;
  background: $orange;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  // border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  // border-radius: 10px;
  background-image: -webkit-linear-gradient(
    top,
    $orange 0%,
    #ff9d45 51%,
    $orange 100%
  );
}

// Navbar

@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

.grad-bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradbar 15s ease infinite;
  -moz-animation: gradbar 15s ease infinite;
  animation: gradbar 15s ease infinite;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 70px;
  overflow: hidden;
  .logo {
    width: 120px;
    justify-self: start;
    margin-left: 20px;
    position: relative;
    img {
      position: absolute;
      top: 50%;
    }
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
}

.nav-item {
  a {
    margin: 0 20px;
    color: #000;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease-out;
    &:hover {
      color: $orange;
    }
  }
}
.menu-toggle {
  .bar {
    width: 25px;
    height: 3px;
    background-color: $orange;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  justify-self: end;
  margin-right: 25px;
  display: none;
  &:hover {
    cursor: pointer;
  }
}
#mobile-menu.is-active {
  .bar {
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(1) {
      -webkit-transform: translateY(8px) rotate(45deg);
      -ms-transform: translateY(8px) rotate(45deg);
      -o-transform: translateY(8px) rotate(45deg);
      transform: translateY(8px) rotate(45deg);
    }
    &:nth-child(3) {
      -webkit-transform: translateY(-8px) rotate(-45deg);
      -ms-transform: translateY(-8px) rotate(-45deg);
      -o-transform: translateY(-8px) rotate(-45deg);
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}
@media only screen and (max-width: 768px) {
  .features {
    flex-direction: column;
    padding: 50px;
  }
  h1 {
    font-size: 1.9rem;
  }
  h2 {
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
  }
  .navbar {
    ul {
      display: flex;
      flex-direction: column;
      position: fixed;
      justify-content: start;
      top: 75px;
      background-color: #fff;
      width: 100%;
      height: calc(100vh - 55px);
      transform: translate(-101%);
      text-align: center;
      overflow: hidden;
    }
    li {
      padding: 15px;
      &:first-child {
        margin-top: 50px;
      }
      a {
        font-size: 1.3rem;
      }
    }
  }
  .menu-toggle {
    display: block;
    cursor: pointer;
  }
  .bar {
    display: block;
    cursor: pointer;
  }
  .mobile-nav {
    transform: translate(0%) !important;
  }
}

// Navbar

// Header
.header-anchor {
  position: absolute;
  top: -75px;
}

.header {
  position: relative;
  height: 95vh;
  .header-image {
    position: absolute;
    z-index: -1;
    height: 95vh;
    width: 100%;
    overflow: hidden;
    .gatsby-image-wrapper {
      height: 95vh;
      width: 100%;
    }
  }
  .inner-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .header-title {
      position: absolute;
      top: 50vh;
      color: white;
      letter-spacing: 0.2rem;
      font-size: 4rem;
      font-weight: 700;
      line-height: 4.5rem;
    }
    .header-buttons {
      position: absolute;
      top: 65vh;
      .btn {
        display: inline-block;
        border: none;
        padding: 1rem 2rem;
        margin: 0 10px;
        text-decoration: none;
        color: #ffffff;
        font-size: 1rem;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out, transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;
        &.view-projects-btn {
          background: linear-gradient(
            -45deg,
            $orange,
            #ff5f6d,
            #ffc371,
            $orange
          );
          background-size: 400% 400%;
          -webkit-animation: gradbar 15s ease infinite;
          -moz-animation: gradbar 15s ease infinite;
          animation: gradbar 15s ease infinite;
        }
        &.view-demos-btn {
          background: none;
          box-shadow: inset 0px 0px 0px 2px white;
        }
      }
      .btn:hover {
        transition: none;
        &.view-projects-btn {
          color: $orange;
          background: white;
        }
        &.view-demos-btn {
          background: white;
          color: $orange;
        }
      }
      .btn:focus {
        outline: none;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .header {
    height: 100vh;
    position: relative;
    .header-image {
      position: absolute;
      z-index: -1;
      height: 100vh;
      width: 100%;
      overflow: hidden;
      .gatsby-image-wrapper {
        height: 100vh;
        width: 100%;
      }
    }
    .inner-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      .header-title {
        position: absolute;
        top: 40vh;
        left: 20px;
        color: white;
        letter-spacing: 0.1rem;
        font-size: 3rem;
        line-height: 3rem;
      }
      .header-buttons {
        position: absolute;
        top: 80vh;
        .btn {
          display: inline-block;
          border: none;
          padding: 1rem 1rem;
          margin: 0 5px;
          text-decoration: none;
          color: #ffffff;
          font-size: 1rem;
          cursor: pointer;
          text-align: center;
          transition: background 250ms ease-in-out, transform 150ms ease;
          -webkit-appearance: none;
          -moz-appearance: none;
          &.view-projects-btn {
            background-color: $orange;
          }
          &.view-demos-btn {
            background: none;
            box-shadow: inset 0px 0px 0px 2px white;
          }
        }
        .btn:hover {
          transition: none;
          &.view-projects-btn {
            color: $orange;
            background: white;
          }
          &.view-demos-btn {
            background: white;
            color: $orange;
          }
        }
        .btn:focus {
          outline: none;
        }
      }
    }
  }
}

// Header

// About

.about-anchor {
  position: absolute;
  top: -75px;
}

#about {
  position: relative;
}

.about-container {
  display: flex;
  padding: 50px 30px;

  .about-left {
    flex: 1;
    padding: 0 50px;
    .about-title {
      letter-spacing: 0.2rem;
      font-size: 4rem;
      font-weight: 700;
      line-height: 4.5rem;
    }
    .rect {
      width: 150px;
      height: 8px;
      // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background: linear-gradient(-45deg, #ff5f6d, #ffc371, $orange);
      background-size: 400% 400%;
      -webkit-animation: gradbar 15s ease infinite;
      -moz-animation: gradbar 15s ease infinite;
      animation: gradbar 15s ease infinite;
    }
    .about-text {
      padding: 20px 0;
      text-align: justify;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.75rem;
    }
  }
  .about-right {
    flex: 1;
    .about-image {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      .gatsby-image-wrapper {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .about-container {
    display: flex;
    padding: 30px 30px;

    .about-left {
      flex: 1;
      padding: 0 0px;
      .about-title {
        letter-spacing: 0rem;
        font-size: 3rem;
        font-weight: 700;
        line-height: 4.5rem;
      }
      .rect {
        width: 150px;
        height: 8px;
        background: linear-gradient(-45deg, #ff5f6d, #ffc371, $orange);
        background-size: 400% 400%;
        -webkit-animation: gradbar 15s ease infinite;
        -moz-animation: gradbar 15s ease infinite;
        animation: gradbar 15s ease infinite;
      }
      .about-text {
        padding: 20px 0;
        text-align: justify;
        font-size: 24px;
      }
    }
    .about-right {
      display: none;
    }
  }
}

// About

// Products
.divider {
  display: none;
}
.products-anchor {
  position: absolute;
  top: -75px;
}
.products {
  display: flex;
  justify-content: space-between;
  padding: 50px 30px;
  background-color: white;

  .product {
    overflow: hidden;
    margin: 0px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;

    .product-img {
      height: 200px;
      width: 100%;
      overflow: hidden;
      .gatsby-image-wrapper {
        height: 200px;
        width: 100%;
      }
    }
    .product-content {
      padding: 20px 20px;
      margin-bottom: 40px;
      .product-title {
        text-transform: uppercase;
        margin-bottom: 10px;
        display: inline-block;
        font-size: 1.2rem;
        font-weight: 600;
      }
      .product-desc {
        line-height: 1.5rem;
        color: rgba($color: #000000, $alpha: 0.7);
        font-weight: 500;
      }
    }
    .product-btn {
      display: flex;
      align-items: center;
      border: none;
      background: none;
      font-size: 1.2rem;
      color: rgba(0, 0, 0, 0.8);
      cursor: pointer;
      position: absolute;
      bottom: 0;
      margin: 20px;
      img {
        height: 15px;
        margin-left: 5px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .divider {
    display: block;
    margin: 0 20px;
  }
  .products {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 30px;
    background-color: white;
    .product {
      padding: 30px 40px;
      margin: 10px 0px;
      background-color: rgba(248, 249, 250, 1);
      border-radius: 10px;
      .product-img {
        border-radius: 50%;
        overflow: hidden;
        height: 120px;
        width: 120px;
        margin-bottom: 15px;
        .gatsby-image-wrapper {
          height: 120px;
          width: 120px;
        }
      }
      .product-title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 15px;
      }
      .product-desc {
        font-size: 18px;
        line-height: 30px;
      }
      .p-divider {
        height: 1px;
        border: none;
        margin: 10px 0px;
        background-color: rgb(197, 197, 197);
      }
      .project-heading {
        font-size: 24px;
        font-weight: 700;
      }
    }
  }
}
// Products

// Certifications

.certifications {
  padding: 30px 30px;
  background-color: rgba(248, 249, 250, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  .certifications-heading {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .rect {
      width: 150px;
      height: 8px;
      // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background: linear-gradient(-45deg, #ff5f6d, #ffc371, $orange);
      background-size: 400% 400%;
      -webkit-animation: gradbar 15s ease infinite;
      -moz-animation: gradbar 15s ease infinite;
      animation: gradbar 15s ease infinite;
    }
  }
  .cards {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    .card {
      height: 250px;
      width: 250px;
      margin: 0px 20px;
      background-color: white;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .gatsby-image-wrapper {
        height: 200px;
        width: 200px;
        border-radius: 50%;
      }
    }
    .card:hover {
      -webkit-box-shadow: 10px 10px 40px -20px rgba(0, 0, 0, 1);
      -moz-box-shadow: 10px 10px 40px -20px rgba(0, 0, 0, 1);
      box-shadow: 10px 10px 40px -20px rgba(0, 0, 0, 1);
    }
  }
}

@media only screen and (max-width: 768px) {
  .certifications {
    padding: 30px 30px;
    background-color: rgba(248, 249, 250, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    .certifications-heading {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      .rect {
        width: 150px;
        height: 8px;
        background: linear-gradient(-45deg, #ff5f6d, #ffc371, $orange);
        background-size: 400% 400%;
        -webkit-animation: gradbar 15s ease infinite;
        -moz-animation: gradbar 15s ease infinite;
        animation: gradbar 15s ease infinite;
      }
    }
    .cards {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 40px;
      .card {
        height: 250px;
        width: 250px;
        margin: 20px 20px;
        background-color: white;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: 200px;
          width: 200px;
          border-radius: 50%;
        }
      }
    }
  }
}

// Certifications

// Contact

.contact {
  display: flex;
  justify-content: space-around;
  padding: 40px 100px;
  .phone-col {
    padding: 0 50px;
    width: 400px;
    .contact-logo {
      width: 180px;
    }
    .phone {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 15px;
    }
  }
  .address-col {
    padding: 0 50px;
    width: 400px;
    .address-heading {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 15px;
    }
  }
  .email-col {
    padding: 0 50px;
    width: 400px;
    .email-heading {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 15px;
    }
    a {
      cursor: pointer;
      text-decoration: none;
      color: $orange;
      display: block;
    }
  }
}

@media only screen and (max-width: 768px) {
  .contact {
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 20px;
    .phone-col {
      padding: 0 0px;
      width: 100%;
      .contact-logo {
        width: 180px;
      }
      .phone {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 15px;
      }
    }
    .address-col {
      padding: 0;
      width: 100%;
      .address-heading {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 15px;
      }
    }
    .email-col {
      padding: 0;
      width: 100%;
      .email-heading {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 15px;
      }
      a {
        cursor: pointer;
        text-decoration: none;
        color: $orange;
        display: block;
      }
    }
  }
}

// Contact

// Demo

.demo-comp {
  padding: 50px 0;
  .demo-heading {
    text-align: center;
    strong {
      letter-spacing: 0.2rem;
      font-size: 64px;
      font-weight: 700;
      line-height: 4.5rem;
    }
    .rect {
      width: 150px;
      height: 8px;
      // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background: linear-gradient(-45deg, #ff5f6d, #ffc371, $orange);
      background-size: 400% 400%;
      -webkit-animation: gradbar 15s ease infinite;
      -moz-animation: gradbar 15s ease infinite;
      animation: gradbar 15s ease infinite;
      margin: 0 auto;
    }
  }
  .demos {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    .demo-card {
      height: 250px;
      width: 250px;
      margin: 0px 20px;
      background-color: rgba(248, 249, 250, 1);
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .thumb {
        height: 200px;
        width: 200px;
      }
      .demo-title {
        margin: 20px 0;
        text-align: center;
        font-weight: 700;
        color: $orange;
      }
    }
    .demo-card:hover {
      -webkit-box-shadow: 10px 10px 40px -20px rgba(0, 0, 0, 1);
      -moz-box-shadow: 10px 10px 40px -20px rgba(0, 0, 0, 1);
      box-shadow: 10px 10px 40px -20px rgba(0, 0, 0, 1);
    }
  }
}

@media only screen and (max-width: 768px) {
  .demo-comp {
    padding: 50px 0;
    .demo-heading {
      text-align: center;
      strong {
        letter-spacing: 0.2rem;
        font-size: 64px;
        font-weight: 700;
        line-height: 4.5rem;
      }
      .rect {
        width: 150px;
        height: 8px;
        // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background: linear-gradient(-45deg, #ff5f6d, #ffc371, $orange);
        background-size: 400% 400%;
        -webkit-animation: gradbar 15s ease infinite;
        -moz-animation: gradbar 15s ease infinite;
        animation: gradbar 15s ease infinite;
        margin: 0 auto;
      }
    }
    .demos {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 40px;
      .demo-card {
        height: 250px;
        width: 250px;
        margin: 20px 20px;
        background-color: rgba(248, 249, 250, 1);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .thumb {
          height: 200px;
          width: 200px;
        }
        .demo-title {
          margin: 20px 0;
          text-align: center;
          font-weight: 700;
          color: $orange;
        }
      }
      .demo-card:hover {
        -webkit-box-shadow: 10px 10px 40px -20px rgba(0, 0, 0, 1);
        -moz-box-shadow: 10px 10px 40px -20px rgba(0, 0, 0, 1);
        box-shadow: 10px 10px 40px -20px rgba(0, 0, 0, 1);
      }
    }
  }
}

// Demo

// 404

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .img-404 {
    width: 300px;
  }
  strong {
    text-align: center;
    font-size: 3rem;
    opacity: 0.8;
  }
}

@media only screen and (max-width: 768px) {
  .not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .img-404 {
      width: 300px;
    }
    strong {
      text-align: center;
      font-size: 2rem;
      opacity: 0.8;
    }
  }
}

// 404
